
{% extends 'ruedas/template.html' %}
{% load static %}


{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
{% endblock extrahead %}


{% block content %}


<div class="prox-veh">
    <p >Descubrí tu próximo vehículo</p>
</div>
<div class="container-lista-unidades">
   <!-- <form method="GET"">
        <input type="text" name="buscar">
        <input type="text" value="Buscar">
        
        FUTURA BARRA DE BUSQUEDA ?
    </form> -->
    
        <div class="unidades">
            {% for unidad in unidades %}

            <!--La idea es que el div de unidad sea un enlace..-->
            <div class="unidad">
                
                <img class="imagen-unidad" id="main-image" src="{% firstof unidad.imagenes.all.0.imagen.url %}" alt="Imagen principal de {{unidad.titulo}}">
                {{unidad.titulo}}

                <a href="{% url 'unidad-detalle' unidad.id %}" class="button boton-ver">Ver</a>
            </div>

            {% empty %}
                <h3>No hay unidades disponibles actualmente..</h3>
            {% endfor %}
        </div>

</div>
{% endblock content %}
